/* import d'autres CSS */

/* déclaration de root */
:root{
    --main-font-family: Arial, Helvetica, sans-serif;
    --heading-font-family: 'Georgia Pro Black', 'Times New Roman', serif;
    font-family: var(--main-font-family);
    line-height: 1.8rem;
    --main-nav-border-color: lightgray;
    --main-header-bg: black;
    --main-header-color: white;
    --main-nav-bg: black;
    --main-nav-link-color: white;
    --page-link-color: blue;
}

/* déclaration générales */

/* reset des certaines règles CSS bien casse-pieds */

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
}

a, a:visited{
    color:var(--page-link-color);
    text-decoration: none;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font-family);
    margin: unset;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* déclaration classes */

.carre200content{
    box-sizing: content-box;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 2rem;
}

.carre200border{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 2rem;
}

.deuxEm{
    border: 1px solid black;
    font-size: 2em;
}

.deuxRem{
    border: 1px solid black;
    font-size: 2rem;
}

/* déclaration de structure */

body > nav{
    background-color: var(--main-nav-bg);
}

body > nav ul{
    list-style-type: none;
    padding: 0;
    line-height: 2rem;
    margin-top: unset;
}

body > nav ul li{
    border-top: 1px solid var(--main-nav-border-color);
}



body > nav ul li a, 
body > nav ul li a:visited{
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--main-nav-link-color);
}

body > nav ul li a:hover,
body > nav ul li a:focus{
    background-color: var(--main-nav-border-color);
    color: var(--main-nav-bg);
}

body > header,
body > footer{
    background-color: var(--main-header-bg);
    color: var(--main-header-color);
}

body > header > div,
body > nav,
body > main article,
body > footer > div{
    padding-left: 1rem;
    padding-right: 1rem;
}

body > header > div,
body > footer > div,
body > nav ul,
body main{
    --main-font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: var(--main-font-family);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* media queries */
@media screen and (min-width: 576px) {
    body > header > div,
    body > footer > div,
    body > nav ul,
    body main{
        width: 540px;
    }

    body > nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    body > nav ul li{
        border: unset;
        border-left: 1px solid var(--main-nav-border-color);
    }
    
    body > nav ul li:last-child{
        border: unset;
        border-left: 1px solid var(--main-nav-border-color);
        border-right: 1px solid var(--main-nav-border-color);
    }
}

@media screen and (min-width: 768px) {
    body > header > div,
    body > footer > div,
    body > nav ul,
    body main{
        width: 720px;
    }
}

@media screen and (min-width: 992px) {
    body > header > div,
    body > footer > div,
    body > nav ul,
    body main{
        width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    body > header > div,
    body > footer > div,
    body > nav ul,
    body main{
        width: 1140px;
    }
}

@media screen and (min-width: 1400px) {
    body > header > div,
    body > footer > div,
    body > nav ul,
    body main{
        width: 1320px;
    }
}